/* Recipe Page Styles */
.recipe-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  padding: 24px 0;
}
.recipe-item {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 16px;
  text-align: justify;
}
.recipe-item img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.recipe-item p {
  font-size: 1.00em;
  padding-bottom: 35px;
}
.recipe-item ul {
  padding-left: 20px;
}
.recipe-item h3{
  padding-top: 20px;
}
.recipe-image-container {
  display: flex;
  margin-bottom: 20px;
}
.recipe-image {
  width: 39%;
  height: 70%;
}