* { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}
body { 
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.8; 
  color: #5b4a44; 
}
.container { 
  max-width: 1100px; 
  margin: 0 auto; 
  padding: 0 16px;
}

/* Header */
.site-header {
  position:sticky;
  top: 0;
  background: #fff9f0;
  border-bottom: 1px solid #f0e2d6;
  z-index: 10;
}
.site-header .container { 
  display: block; 
  padding: 12px 0; 
}

/* Logo */
.cakery-logo { 
 text-align: center; 
}
.cakery-logo img{
  width: 130px;
  background-color: transparent;
  mix-blend-mode: multiply; 
}

/* Nav */
.site-nav ul { 
  list-style: none; 
  display: flex; 
  justify-content: space-between;
}
.site-nav a { 
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none; 
  color: #5a3a2a; 
  padding: 14px 8px; 
  border-radius: 4px; 
}
.site-nav a:hover { 
  color:  #2e1e16; 
  background: #f4e6da; 
  border-radius: 10px;
}

/* Main */
.site-main { 
 font-size: large;
 text-align: center;
 border-top: 5px solid #efe0d0; 
 /*border-bottom: 2px solid #efe0d0;*/
 border-radius: 50px;
 padding: 20px;
 margin-top: 40px; 
}
.site-main h1 {
  margin-bottom: 30px;
  border-bottom: 1px solid #efe0d0; 
}
.home-image-container {
  display: flex;
}
.home-image {
  width: 29%;
  height: 70%;
}

/* Footer */
.site-footer { 
  background: #f6f0ea; 
  border-top: 1px solid #efe0d0; 
  padding: 16px 0; 
  color: #5b4a44; 
}
.site-footer .container { 
  display: flex; 
  justify-content:space-between; 
  gap: 12px; 
  align-items: center; 
  flex-wrap: wrap; 
}
.site-footer a { 
  color: inherit; 
  padding: 10px;
}
.site-footer a:hover {
  color: #080808; 
}

/* Small screens */
@media (max-width: 640px) {
  .site-nav ul { 
    gap: 10px; 
    font-size: 0.95rem;
   }

  .site-footer .container { 
    flex-direction: column; 
    align-items: flex-start; 
  }
}